/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant/
.idea/workspace.xml
app/Http/Controllers/TestController.php
resources/views/test/index.blade.php
public/js/test.js
resources/sass/test.scss
public/css/test.css
composer.json
composer.lock