$content-max-width: 1180px;

$main-color: rgb(92, 162, 160);
$dark-color: #111;
$light-color: #eee;

$breakpoints: (
    "smp": "screen and (max-width: 767px)",
    "tab": "screen and (max-width: #{$content-max-width - 1px})",
    "pc": "screen and (min-width: #{$content-max-width})",
);

//block要素を中央ぞろえ（引数は上下のmargin）
@mixin alignCenter($margin-top: 0, $margin-bottom: 0) {
    margin: $margin-top auto $margin-bottom auto;
}

@mixin mq($breakpoint: sp) {
    @media #{map_get($breakpoints, $breakpoint)} {
        @content;
    }
}

@include mq(pc) {
    .tab, .smp {
        display: none;
    }
}

@include mq(tab) {
    .pc, .smp:not(.tab) {
        display: none;
    }
}

@include mq(smp) {
    .tab:not(.smp) {
        display: none;
    }
}
