$dark-color: #000000;
@mixin print_area($replace_color: #ff0000, $font_color: $dark-color) {
    border: 1px dashed $dark-color;
    .replaced {
        color: $replace_color;
    }
    color: $font_color;
}
/**
共通の処理
 */
.button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #cccccc;
    padding: 10px;

    &:hover {
        opacity: 0.7;
    }
}

/**
個別の処理
 */
#conditions {
    .description {
        div {
            &:last-child {
                p {
                    display: inline-block;
                    width: 160px;
                    text-align: center;
                }
            }
        }
    }

    .after_str {
        &:after {
            content: '\A';
            white-space: pre;
        }
    }

    label {
        input {
            margin: 0 5px 10px;
        }
    }

    #add {
        display: block;
        width: 130px;
    }
}

#before_rep {
    @include print_area(#0000ff);
}

#after_rep {
    @include print_area(#ff0000);
}
