@media screen and (min-width: 1180px) {
  .tab,
  .smp {
    display: none;
  }
}

@media screen and (max-width: 1179px) {
  .pc {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tab:not(.smp) {
    display: none;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
  color: #111;
}

header {
  background-color: #569694;
}

header h1 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  color: #f5f5f5;
  font-size: 42px;
}

main {
  width: 90%;
  margin: 20px auto;
  max-width: 1180px;
}

main > article h2 {
  margin-top: 50px;
  padding-left: 10px;
  border-left: #569694 solid 10px;
  border-bottom: #569694 solid 2px;
  color: #569694;
}

main > article h3 {
  margin-top: 40px;
  font-size: 18px;
}

main > article h3:before {
  content: "\25A0";
  margin-right: 3px;
  color: #966D56;
  font-size: 20px;
}

main > article h4 {
  margin-top: 30px;
  padding: 5px 16px;
  border-top: #569694 solid 1px;
  border-bottom: #569694 solid 1px;
}

main > article button {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #966D56;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1180px) {
  main > article button:hover {
    background-color: #553e31;
  }
}

@media screen and (max-width: 1179px) {
  main > article button:active {
    background-color: #553e31;
  }
}

main > article .bold {
  font-weight: bold;
}

main > article .hide {
  display: none;
}

main > article > .calibrated .before_rep {
  width: 90%;
  margin: 20px auto;
}

main > article > .calibrated .before_rep > p {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px dashed #111;
  background-color: #fff;
  color: #111;
}

main > article > .calibrated .before_rep > p .replaced {
  color: #0000ff;
}

main > article > .calibrated .after_rep {
  width: 90%;
  margin: 20px auto;
}

main > article > .calibrated .after_rep > p {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 1px dashed #111;
  background-color: #fff;
  color: #111;
  margin-bottom: 0;
}

main > article > .calibrated .after_rep > p .replaced {
  color: #ff0000;
}

main > article > .calibrated .after_rep > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  main > article > .calibrated .after_rep > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
}

main > article > .calibrated .after_rep > div > button {
  max-width: 200px;
  padding: 10px 25px;
}

main > article > .form > form {
  width: 90%;
  margin: 20px auto;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > h3 {
    padding-left: 18px;
    text-indent: -18px;
  }
}

main > article > .form > form > .sentence > h3 > span {
  font-size: 14px;
  font-weight: normal;
}

main > article > .form > form > .sentence > .error {
  width: 90%;
  margin: 20px auto;
  color: red;
}

main > article > .form > form > .sentence > .submit_type {
  width: 90%;
  margin: 20px auto;
  display: -webkit-box;
  display: flex;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .submit_type {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .submit_type > div {
    -webkit-box-flex: 0;
            flex: 0 0 50%;
  }
}

main > article > .form > form > .sentence > .submit_type > div > label {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #966D56;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  margin: 0;
  padding: 10px 20px;
  background-color: #c0a292;
  font-size: 16px;
}

@media screen and (min-width: 1180px) {
  main > article > .form > form > .sentence > .submit_type > div > label:hover {
    background-color: #553e31;
  }
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .sentence > .submit_type > div > label:active {
    background-color: #553e31;
  }
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .submit_type > div > label {
    width: 100%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .submit_type > div > label {
    width: 100%;
    padding: 10px 0;
  }
}

main > article > .form > form > .sentence > .submit_type > div > label:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: transparent solid 15px;
  border-top: #c0a292 solid 15px;
}

main > article > .form > form > .sentence > .submit_type > div > input[type=radio] {
  display: none;
}

main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:checked + label {
  background-color: #966D56;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:checked + label:before {
  border-top: #966D56 solid 15px;
}

@media screen and (min-width: 1180px) {
  main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:not(:checked) + label:hover {
    background-color: #553e31;
  }

  main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:not(:checked) + label:hover:before {
    border-top: #553e31 solid 15px;
  }
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:not(:checked) + label:active {
    background-color: #553e31;
  }

  main > article > .form > form > .sentence > .submit_type > div > input[type=radio]:not(:checked) + label:active:before {
    border-top: #553e31 solid 15px;
  }
}

main > article > .form > form > .sentence > .file_upload {
  width: calc(90% - 40px);
  margin: 20px auto;
  margin-top: 0;
  padding: 20px;
  background-color: #966D56;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .file_upload {
    box-sizing: border-box;
    width: 100%;
  }
}

main > article > .form > form > .sentence > .file_upload > input {
  font-size: 16px;
  color: #f5f5f5;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .file_upload > input {
    height: 35px;
    font-size: 13px;
  }

  main > article > .form > form > .sentence > .file_upload > input::-webkit-file-upload-button {
    height: 35px;
  }
}

main > article > .form > form > .sentence > .text_upload {
  width: calc(90% - 40px);
  margin: 20px auto;
  margin-top: 0;
  padding: 20px;
  background-color: #966D56;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .sentence > .text_upload {
    box-sizing: border-box;
    width: 100%;
  }
}

main > article > .form > form > .sentence > .text_upload > textarea {
  display: block;
  width: 90%;
  margin: 5px auto 0 auto;
}

main > article > .form > form > .conditions > p {
  width: 90%;
  margin: 20px auto;
  font-size: 14px;
  padding-left: 1em;
  text-indent: -1em;
  color: #767575;
}

main > article > .form > form > .conditions > .text_conditions {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .text_conditions > .regex_text {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .text_conditions > .regex_text > input {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0;
  vertical-align: middle;
}

main > article > .form > form > .conditions > .text_conditions > .regex_text > label {
  vertical-align: middle;
  font-size: 14px;
}

main > article > .form > form > .conditions > .text_conditions > .edit {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .conditions > .text_conditions > .edit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}

main > article > .form > form > .conditions > .text_conditions > .edit > .buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > div {
  margin-bottom: 5px;
}

main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > div > p {
  display: inline-block;
  width: 49.5%;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > div > p {
    width: 48.9%;
  }
}

main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > input {
  height: 30px;
  width: 46.4%;
  margin-bottom: 5px;
  font-size: 20px;
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > input {
    width: 42.6%;
    font-size: 16px;
  }
}

main > article > .form > form > .conditions > .text_conditions > .edit > .inputs > i {
  width: 20px;
  text-align: center;
}

main > article > .form > form > .conditions > .csv_conditions {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .csv_conditions > .regex_csv {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .csv_conditions > .regex_csv > input {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin: 0;
  vertical-align: middle;
}

main > article > .form > form > .conditions > .csv_conditions > .regex_csv > label {
  vertical-align: middle;
  font-size: 14px;
}

main > article > .form > form > .conditions > .csv_conditions > p {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .csv_conditions > .modal_open {
  font-size: 14px;
}

main > article > .form > form > .conditions > .csv_conditions > .modal_open > span {
  color: #0e0ecc;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 1180px) {
  main > article > .form > form > .conditions > .csv_conditions > .modal_open > span:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .conditions > .csv_conditions > .modal_open > span:active {
    text-decoration: underline;
  }
}

main > article > .form > form > .conditions > .csv_conditions > .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60%;
  padding: 40px;
  background-color: #f5f5f5;
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > div {
  width: 90%;
  margin: 20px auto;
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > div > img {
  display: block;
  max-width: 100%;
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > .modal_close {
  text-align: right;
}

main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > .modal_close > span {
  color: #0e0ecc;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 1180px) {
  main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > .modal_close > span:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .conditions > .csv_conditions > .modal > .modal_content > .modal_close > span:active {
    text-decoration: underline;
  }
}

main > article > .form > form > .conditions > .csv_conditions > .condition_file {
  width: 90%;
  margin: 20px auto;
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
}

main > article > .form > form > .submit {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: #966D56;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 90%;
  margin: 20px auto;
  display: block;
  max-width: 300px;
  font-size: 30px;
}

@media screen and (min-width: 1180px) {
  main > article > .form > form > .submit:hover {
    background-color: #553e31;
  }
}

@media screen and (max-width: 1179px) {
  main > article > .form > form > .submit:active {
    background-color: #553e31;
  }
}

