@charset "UTF-8";

/**
共通の処理
 */

.button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #000000;
  background-color: #cccccc;
  padding: 10px;
}

.button:hover {
  opacity: 0.7;
}

/**
個別の処理
 */

#conditions .description div:last-child p {
  display: inline-block;
  width: 160px;
  text-align: center;
}

#conditions .after_str:after {
  content: '\A';
  white-space: pre;
}

#conditions label input {
  margin: 0 5px 10px;
}

#before_rep {
  border: 1px dashed #000000;
  color: #000000;
}

#before_rep .replaced {
  color: #0000ff;
}

#after_rep {
  border: 1px dashed #000000;
  color: #000000;
}

#after_rep .replaced {
  color: #ff0000;
}

